/* 

.hover-nav .buttonn {
    float: left;
    
}

.hover-nav .buttonn a {
    position: relative;
    display: block;
    color: #000000;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    z-index: 0;
    
}

.buttonn a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #c3672a;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
   
}

.buttonn a:hover::before,
.buttonn a:focus::before {
    transform: scale(1);
}
a{

    text-align: center;
}
.forhome a{
    text-decoration: none;


} */
